
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #F8F8F8;
  margin: 15px;
}

.inline {
  display: inline;
}

tr {
  vertical-align: top;
}

a.logo {
  color: black;
}

.landscape {
  display: none;
}

.preview .status {
  max-width: 340px;
}

#gif {
  margin-bottom: 10px;
}

.status {
  background-color: #fefbed;
  padding: 5px 5px 5px 5px;
  border-left: 5px solid #f1e7bc;
  border-right: 5px solid #f1e7bc;
  opacity: 1;
  transition: opacity .25s ease-in-out;
}

.fade-hidden {
  opacity: 0;
}

.palette {
  border-collapse: collapse;
  margin-top: 10px;
}

.paletteCell {
  width: 50px;
  height: 50px;
  padding: 0;
  border: 0;
  outline:solid;
  outline-width: 0;
  transition: outline-width .1s;
}

.paletteCellSelected {
  outline-width: 3mm;
}

.portrait h1 {
  margin-bottom: 0;
}

.portrait .btn {
  padding-bottom: 5px;
  margin-bottom: 12px;
  margin-left: 10px;
}

.portrait .status {
  margin-left: 15px;
  display: inline-block;
}

.hidden, .start-hidden {
  display: none;
}

.portrait canvas {
  display: block;
  width: 100%;
}

.portrait .movie {
  margin-top: 10px;
}

.landscape table {
  border-collapse: collapse;
  border-spacing: 0;
}

.landscape td {
  padding: 0;
}

.landscape .movie {
  margin-left: 10px;
}

.landscape canvas {
  display: block;
  height: 432px;
}

.landscape .btn {
  margin-left: 10px;
  margin-bottom: 10px;
}

.landscape .status {
  margin-left: 10px;
}

.landscape .share {
  margin-top: 0;
}


@media (orientation: landscape) and (min-width: 960px) {
  .portrait {
    display: none;
  }
  .landscape {
    display: block;
  }
}

/* styles based on bootstrap 3.0 */

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

h1 {
  font-size: 36px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active {
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active  {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active {
  background-color: #ffffff;
  border-color: #cccccc;
}
