
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

.landscape {
  display: none;
}

.palette {
  border-collapse: collapse;
  margin-top: 10px;
}

.paletteCell {
  width: 50px;
  height: 50px;
  padding: 0;
  border: 0;
  outline:solid;
  outline-width: 0;
  transition: outline-width .1s;
}

.paletteCellSelected {
  outline-width: 3mm;
}

.portrait canvas {
  display: block;
  width: 100%;
}

.portrait .movie {
  margin-top: 10px;
}

.landscape table {
  border-collapse: collapse;
}

.landscape .movie {
  margin-left: 10px;
}

.landscape canvas {
  display: block;
  height: 432px;
}

@media (orientation: landscape) and (min-width: 900px) {
  .portrait {
    display: none;
  }
  .landscape {
    display: block;
  }
}
