/* defaults */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #F8F8F8;
  margin: 15px;
      -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

tr {
  vertical-align: top;
}

/* widgets (all layouts) */

a.logo {
  color: black;
}

.status {
  background-color: #fefbed;
  padding: 5px 5px 5px 5px;
  border-left: 5px solid #f1e7bc;
  border-right: 5px solid #f1e7bc;
  transition: opacity .25s ease-in-out;
}

.strip-row button, .strip-column button {
  color: #bbbbbb;
  outline: 0;
}

.strip-row button[disabled],
.strip-column button[disabled],
.strip-row button[disabled]:hover,
.strip-column button[disabled]:hover {
  color: #000000;
}

.strip-row button:hover, .strip-column button:hover {
  color: #dddddd;
}

.strip-row button:active, .strip-column button:active {
  color: #ffffff;
}

.palette {
  border-collapse: collapse;
  margin-top: 10px;
}

.paletteCell {
  height: 50px;
  width: 50px;
  padding: 0;
  border: 0;
  outline:solid;
  outline-width: 0;
  transition: outline-width .1s;
}

.paletteCellSelected {
  outline-width: 3mm;
}

/* preview */

.preview .status {
  max-width: 340px;
  height: 20px;
}

#gif {
  margin-bottom: 10px;
}

.footer {
  margin-top: 30px;
}

/* landscape versus portrait toggle */

.landscape {
  display: none;
}

@media (orientation: landscape) and (min-width: 980px) {
  .portrait {
    display: none;
  }
  .landscape {
    width: 930px;
    display: block;
  }
}

/* portrait settings */

.portrait h1 {
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .portrait h1 {
    display: none;
  }
}

.portrait .btn {
  padding-bottom: 5px;
  margin-bottom: 12px;
  margin-left: 10px;
}

.portrait .status {
  margin-left: 15px;
  display: inline-block;
}

.portrait .speed-display {
  margin-top: 30px;
  margin-left: -20px;
  float: right;
}

.portrait .strip-row {
  position: relative;
}

.portrait .strip {
  display: inline-block;
  width: 100%;
}

.portrait .strip-row > button {
  position: absolute;
  display: block;
  top: 10px;
  height: 72px;
  width: 50px;
  z-index: 1;
  opacity: 0.5;
  padding: 0;
  vertical-align: middle;
  font-size: 50px;
  text-align: center;
  background-color: black;
  border: 0;
}


.portrait button.increase-speed {
  left: 0;
}

.portrait button.reduce-speed {
  right: 0;
}

.portrait .movie {
  display: block;
  width: 100%;
  margin-top: 10px;
}

/* landscape settings */

.landscape table {
  border-collapse: collapse;
  border-spacing: 0;
}

.landscape td {
  padding: 0;
}

.landscape .strip-column {
  position: relative;
}

.landscape .strip-column > button {
  position: absolute;
  display: block;
  left: 10px;
  width: 120px;
  height: 60px;
  z-index: 1;
  opacity: 0.5;
  padding: 0;
  font-size: 50px;
  text-align: center;
  background-color: black;
  border: 0;
}

.landscape button.increase-speed {
  top: 0;
  vertical-align: top;
}

.landscape button.increase-speed > span {
  position: relative;
  top: -10px;
  overflow: hidden;
}

.landscape button.reduce-speed {
  vertical-align: bottom;
  padding-bottom: 10px;
  bottom: 0px;
}

.landscape .movie {
  margin-left: 10px;
}

.landscape canvas {
  display: block;
  height: 432px;
}

.landscape .buttons {
  position: relative;
}

.landscape .btn {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 62px;
}

.landscape .status {
  margin-left: 10px;
}

.landscape .speed-display {
  position: absolute;
  bottom: 0;
  left: 10px;
}

/* util */

.inline {
  display: inline;
}

.hidden, .start-hidden {
  display: none;
}

.fade-hidden {
  opacity: 0;
}

/* styles based on bootstrap 3.0 */

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

h1 {
  font-size: 36px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active {
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active  {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active {
  background-color: #ffffff;
  border-color: #cccccc;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert > p {
  margin-bottom: 0;
}

